%html
    %head
        %title << status display

        %meta name="viewport" content="width=device-width, initial-scale=1.0"

        %meta charset="UTF-8"

        %link rel='stylesheet' type='text/css' href='/static/index.css'
    %body
        %h1#date
            =date
        %h1#summary
            -if summary['status']
                HEALTH: OK
            -else
                HEALTH: WARN
        -for key, status in statuses.items():
            %h2.status
                =key + ' <span class="text">' + status['text'] + '</span>'
            -for error in status['errors']:
                %p.error
                    ='- error ' + error
