@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url('/static/ubuntu_regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 400;
    src: url('/static/ubuntu_mono_regular.ttf') format('truetype');
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Ubuntu Mono';
}

h1, h2, p {
    margin: 5px;
}

h1 {
    font-size: 32px
}

h2 {
    font-size: 24px
}

.status .text, .error {
    font-size: 16px;
}

#date {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 24px;
}
